<html lang="en">
  <head>
    <meta charset="utf8">
    <title>Hello World</title>
  </head>
  <body>
    <?php 
      echo '<h1 style="text-align: center;">Hello World!</h1>';
      echo '<hr/>';
      echo '<h2>{{ ansible_facts.hostname }}</h2>';
      echo 'Hello from PHP';
    ?>
  </body>
</html>